.background-modal {
  --background: transparent;
  //{@link https://forum.ionicframework.com/t/cannot-dismiss-a-modal-by-clicking-the-backdrop-ionic-6/221459}
  --height: 65vh;
}

.background-filter-modal {
  --background: transparent;
  //{@link https://forum.ionicframework.com/t/cannot-dismiss-a-modal-by-clicking-the-backdrop-ionic-6/221459}
  --height: 60vh;
  backdrop-filter: blur(0.1rem);
}

.leaftlet-occurrence-icon {
  background: #dedede;
  border: 0.1rem solid black;
  border-radius: 100%;
}

.all-center {
  display: flex;
  align-content: center;
  justify-content: center;
}
