<ion-content [fullscreen]="true">
  <div class="profile">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <img class="profile--user-image" src="assets/images/user.jpg" alt="Imagem">
        </ion-col>
        <ion-col>
          <a class="profile--exit">
            <img src="assets/images/confirm-exit.svg" alt="">
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="height: 60vh">
      <h3>As suas ocorrências</h3>

      <div id="mapUser"></div>
    </div>
  </div>
</ion-content>
