.profile {
  background: var(--black-color);
  padding: 1rem 2rem 13vh;
  width: 100%;
  height: 100%;

  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      justify-content: flex-end;
    }

    .profile--user-image {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      border: 0.2rem solid white;
    }

    .profile--exit {
      padding: .5rem;
    }
  }
}

#mapUser {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  filter: drop-shadow(0 0 3px #000);
}
